body,
html {
  /* make sure the document fills the entire window */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  /* This tells CSS to include the size of borders and padding when it calculates
   * element sizes. it's so useful that we want it to apply to everything. */
  box-sizing: border-box;
}

body {
  /* setting `position: relative` identifies an element as a reference point for
   * any of its children that have `position: absolute` (they will be absolutely
   * positioned relative to the parent). */
  position: relative;
}

/* styling for the "active question" screen (a div with `id="active"`) */
#active {
  /* Here is how we hide the "active question" screen when we are not using it.
   * With `position: absolute`, you can use `left`, `right`, `top` and `bottom`
   * to specify exactly where the edges of the element should be, relative to its
   * closest `position: relative` parent.  We control these values in the script
   * in the `setActive` and `clearActive` functions.
   */
  position: absolute;
  /* Setting a positive z-index makes sure this shows over the grid. */
  z-index: 10;
  /* This causes any compatible properties to animate over 0.5 seconds whenever
   * they change.  In this case, position and opacity will animate. */
  transition: all 0.5s;
}

/* We want some space between the text on the "active screen" and the edge of
 * the window.  However, we can't set padding on #active itself because that
 * would force it to have width and height while it's supposed to be hidden.
 * Instead, we have to set a margin (or padding) on its immediate children. */
/* #active > div {
  margin: 0.5em 10vw;
} */


#grid {
  width: 100%;
  height: 100%;
  /* Renders this element as a CSS grid, which automatically positions all its
   * children in a grid layout.  We use the `grid-template-columns` property to
   * tell the grid how many columns it should have.  However, since the number
   * of columns depends on how many categories we will have, we need to set it
   * in javascript when we load the Jeopardy data.  */
  display: grid;
  /* make sure all rows are the same height */
  grid-auto-rows: 1fr;
  /* The `gap` property creates some space between the elements in the grid.
   * (0.5vh means the gap is half of one percent of the screen's height.) */
  gap: 0.5vh;
  /* The black background color will show through the grid gap and look like a
   * border between the TV screens. */ 
  background-color: #000;
}

/* Styles to mimic a Jeopary TV screen.  The `screen` class is assigned to all
 * the grid cells and to the #active element. */
.screen {
  background-color: #00008c;
  border-style: outset;
  border-color: #0000ac;
  /* Sizes in em make the border and padding proportional to the  */
  border-width: 0.7em;
  padding: 0.5em;
  /* Using `display: flex` is the easiest way to center */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* adds a gap between the question and answer */
  gap: 0.5em;
}

/* This style applies to category screens/boxes.  In Jeopary boards there is a
 * little extra gap between this row of screens and the others. */
 .category {
  margin-bottom: 0.5vh;
  /* Setting the cursor explicitly to default prevents it from changing to a
   * text cursor when you hover over the category text */
  cursor: default;
}

/* ----------------------- *\
|*  T E X T   S T Y L E S  *|
\* ----------------------- */

/* Universal text styles.  Text styles on an element apply to all its children
 * unless another CSS rule overrides them, which means text styles on `html`
 * apply to the entire page. */
html {
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
}

/* Another global style to give all the text a black shadow.  The `em` unit is
 * a multiple of font size; setting the text shadow offset in `em` ensures that
 * it stays consistent relative to the size of the font.
 *
 * We do this in a `*` selector (matches all elements) instead of on `html`
 * (the document root, so styles cascade to all children) because the size of
 * the `em` unit for a given rule is derived from the font-size of the element
 * that matched the rule's CSS selector.  So, if `text-shadow` is defined on an
 * `html` selector, the size of the shadow would always be relative to the font
 * size of the `html` element, even on children with different font sizes.
 */
* {
  text-shadow: 0.07em 0.09em #000;
}

/* Text styles for the "active question" screen.
 * The question and answer are inside two separate child elements;
 * setting text styles here will flow down to both of them. */
#active {
   /* 5vw means 5% of the width of the screen, so this text will resize itself
    * if the screen grows or shrinks. */
   font-size: min(5vw, 10vh);
   font-weight: bold;
   cursor: pointer;
}

#grid .question, #grid .answer {
  /* Remove the forced uppercase for questions & answers on completed cells in
   * the grid.  This is mostly to make the text a little shorter, so it's less
   * likely to stretch the grid out.  Since all other text is uppercase, it's
   * easier to apply that as a global style, and then override only this text
   * back to default. */
  text-transform: none;
}

.answer {
  /* `em` is relative to the font size of the parent, so this will make answer
   * text 25% larger than the question text. */
  font-size: 1.25em;
}

.category {
  font-size: 1.5em;
  font-weight: bold;
}

.value {
  font-size: calc(100vw / 6 / 5);
  font-weight: bold;
  /* make the dollar values 20% taller relative to their width */
  transform: scaleY(120%);
}


.value, .answer {
  color: gold;
}
